@page
@model azure_app_trev.Pages.DeploymentSlotsModel
@{
    ViewData["Title"] = "Deployment Slot page";
}

<div class="text-center">
    <h1 class="display-1">Testing deployment slots</h1>
    <h3>Validating deployment slots feature</h3>
</div>
